.project-card {
	width: 250px;
    height: 390px;
    border: 1px solid white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 30px;
    gap: 20px;
}

.project-card img {
	width: 60px;
}

.project-card h3 {
	font-size: 3.2rem;
}

.project-card p {
	text-align: center;
	font-size: 1.6rem;
}