.skill-card {
    width: 250px;
    height: 390px;
    border: 1px solid white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 30px;
    gap: 20px;
}

.skill-card img {
    max-height: 70px;
}

.skill-card h3 {
    font-size: 32px;
}

.skill-card p {
    width: 90%;
    font-size: 15px;
    text-align: center;
}

