main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

hr {
    width: 60%;
    height: 1px;
    background-color: white;
    border: none;
    opacity: 70%;
}
