.home {
    height: calc(100vh - 96px);
    min-height: 550px;
    max-height: 700px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0px 10%;
}

#texts {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    font-weight: 700;
    font-size: 80px;
    line-height: 80px;
}

p {
    font-size: 25px;
    line-height: 25px;
    display: flex;
}

.subtitle-underline::after {
    content: "";
    background-color: var(--primary);
    height: 3px;
    width: 28px;
    display: block;
    border-radius: 10px; 
}

#blob, #profile {
    max-width: 350px;
}

#image {
    position: relative;
    display: flex;
    align-items: center;
}

#profile {
    border-radius: 50%;
    position: relative;
    z-index: 1;
}

#blob {
    position: absolute;
    top: 24%;
    right: 40px;
    z-index: 0;
}
