@keyframes fly {
    0% {
        bottom: 7px;
    }
    50% {
        bottom: 0px;
    }
    100% {
        bottom: 7px;
    }
}

.home {
    height: 600px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10%;
}

#texts {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    font-weight: 700;
    font-size: 80px;
    line-height: 80px;
}

p {
    font-size: 25px;
    line-height: 25px;
    display: flex;
}

.subtitle-underline::after {
    content: "";
    background-color: var(--primary);
    height: 3px;
    width: 28px;
    display: block;
    border-radius: 10px; 
}


#images {
    display:flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    position: relative;
    animation-name: fly;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
}

#image-blob {
    position: absolute;
    z-index: 0;
    margin-right: 50px;
    margin-bottom: 20px
}

#image-profile {
    position: absolute;
    z-index: 1;
}

#image-profile #profile {
    border-radius: 50%;
}

#profile, #blob {
    width: 310px;
}

#profile {
    object-fit: cover;
    object-position: center;
    height: 310px;
}
