header {
    width: 100%;
    height: 96px;
    display: flex;
    justify-content: space-between;
    padding: 20px 10%;
}

ul {
    display: flex;
    list-style: none;
    gap: 15px;
}

ul, li, a {
    height: 100%;
}

a, button {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    line-height: 2rem;
}

a {
    color: white;
    text-decoration: none;
    position: relative;
    overflow: hidden;
}

a::after {
    content: "";
    width: 99%;
    height: 3px;
    border-radius: 10px;
    background-color: var(--primary);
    display: block;
    position: absolute;  
    transition: transform 0.2s ease-in-out;
    transform: translateX(-100%);
    bottom: 14px;
}

a:hover::after {
    transform: translateX(0%);
}

a, li {
    display: flex;
    align-items: center;
}

button {
    padding: 19px;
    border-radius: 60px;
    border: none;
    cursor: pointer;
    background-color: var(--primary);
    transition: all 0.4s;
}

button:hover {
    border-radius: 0px;
}
