@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

.app {
    font-family: 'Poppins', sans-serif;
    min-width: 100vw;
    min-height: 100vh;
    color: white;
    background-color: var(--dark-gray);
}
